.notifications-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 10px;
  max-height: 680px;
  overflow-y: auto;
}

.notifications__item {
  background-color: rgb(179 211 233);
  border-radius: 12px;
  padding: 10px 20px;

  display: grid;
  grid-template-columns: 50px 1fr auto;
  align-items: center;

  gap: 12px;
}
