.input-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

.input {
    border: 1px solid #939199;
    border-radius: 12px;
    padding: 20px 16px;
    width: 353px;
    height: 56px;
    background-color: white;
}