.balance-page {
  display: flex;
  flex-direction: column;
  gap: 32px;

  & h1 {
    color: white;
    font-size: 34px;
    font-weight: bold;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  background-image: url("./head.png");
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  height: 201px;
}

.navigate {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 70px 20px 0 20px;
  width: 100%;

  & a {
    cursor: pointer;
  }

  & p {
    font-size: 16px;
  }
}

.balance-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: -70px;
}

.todo-button {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5b94e9;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  margin: 10px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 0px 10px rgb(227, 239, 247);
  cursor: pointer;
}

.transactions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: -70px 20px;
  padding-right: 10px;
  max-height: 530px;
  overflow-y: auto;
}

.transaction__item {
  background-color: rgb(179 211 233);
  border-radius: 12px;
  padding: 10px 20px;

  display: grid;
  grid-template-columns: 50px 1fr auto;
  align-items: center;

  gap: 12px;
  cursor: pointer;
}

.transaction__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction__name {
  font-size: 16px;
  font-weight: 700;
}

.trans__date {
  font-size: 12px;
  font-weight: 600;
  color: #939199;
}

.transaction__plus {
  font-size: 16px;
  font-weight: 700;
  color: rgb(19, 171, 100);
}

.transaction__minus {
  font-size: 16px;
  font-weight: 700;
  color: #d23b3b;
}

.click {
  cursor: pointer;
}

.no-trans {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  height: 30px;
}
